.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 20px;
  height: 10vh;
  z-index: 3;

  display: flex !important;
  justify-content: flex-end !important;
  /* justify-content: space-between;  */
  /* justify-content: center; */
  align-items: center;

  /* Animation */
  transition-timing-function: ease-out;
  transition: all 0.8s;
}

.nav_black{
    background-color: #111;
}

.nav_logo {
    position: fixed;
    left: 20px;
    width: 80px;
    object-fit: contain;

    width: 8.375rem;
    height: 2.25rem;
    top: 25px;
}




@media screen and (max-width:400px){
    /* .nav_avatar{
        top: 74px !important;
        left: 152px;
      } */
      .nav {
        justify-content: flex-start !important; 
      }
  }
