.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 20px;
  height: 10vh;
  z-index: 3;

  display: flex;
  /* justify-content: space-between;  */
  justify-content: center;
  align-items: center;

  /* Animation */
  transition-timing-function: ease-out;
  transition: all 0.8s;
}

.nav_black{
    background-color: #111;
}

.nav_logo {
    position: fixed;
    left: 20px;
    width: 80px;
    object-fit: contain;

    width: 8.375rem;
    height: 2.25rem;
    top: 25px;
}

.nav_avatar {
    /* position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
    top: 5vh; */

    position: fixed;
    right: 15px;
    width: 30px;
    object-fit: contain;
    top: 3.5vh;
}


@media (min-width:320px) and (max-width:767px){
    .nav_avatar{
        top: 74px !important;
        left: 152px;
      }
  }
