.profilescreen {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  color: white;
}

.edit_profile_section {
  /* padding: 15%;
  margin-top: 7vh; */

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
}

.edit_profile_sub_section {
  display: flex;
  flex-direction: row;
}

.logged_in_user {
  background-color: gray;
  color: white;
  font-weight: bold;
  padding: 5px;
}

.current_user_plan {
  font-weight: bold;
}

.plan_subscribe_button {
  color: white !important;
  background-color: #e50914 !important;
  border: none;
  height: 30px;
  flex: 1;
}

.user_profile_logout_button {
  color: white !important;
  background-color: #e50914 !important;
  font-weight: bold;
  outline-width: 0;
  border: none;
}

.current_user_plan{
  border-bottom: 1px solid gray;
  padding: 10px 0;
  margin-bottom: 5px;
}

.plans_options>div{
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.plan_name_price{
  display: flex;
  flex-direction: column;
  width: 15vw; 
  flex: 2;
}

.highlight_selected_plan{
  display: flex;
  flex-direction: row;
  background-color: rgba(128, 128, 128, 1);
  padding: 5px;
  flex: 2;
}