.episodes-section{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.episodes{
    flex-basis: 25%;

    background-color: rgb(136, 134, 134);
    margin: 10px;
    padding: 5px 10px;
    border-radius: 50px;


    text-overflow: ellipsis;
    max-width: 15vw;
    overflow: hidden;     
    white-space: nowrap;
    font-weight: 400;
    cursor: pointer;

}

.episodes:hover,.seasons-dropdown-and-episodes select:hover{
    background-color: rgb(190, 187, 187);
}

.other-details-section{
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
}

.series-poster{
    object-fit: contain;
    height: 30vh !important;
}

.episode-poster{
    object-fit: contain;
    height: 20vh !important;
    max-width: 100%;
}

.description-section{
    display: flex;
    flex: 2;
    flex-direction: column;
    padding: 0px 10px;
    color: lightgray;
}

.title-and-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.series-tagline{
    display: flex;
    justify-content: space-between;
}

.production-details{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.production-subdetails{
    padding: 5px;
}

.recomendations-posters{
    object-fit: contain;
    height: 15vh !important;
}

.you-may-also-like-section{
    display: flex;
    flex-direction: column;
    flex: 2;
}

.recomendations{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.recomendations-poster-and-name{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 10px;
    color: lightgray;
    max-width: 100px;
}

.seasons-dropdown-and-episodes{
    display: flex;
    flex-direction: column;
}

.seasons-dropdown-and-episodes select{
    max-width: 15vw;
    background-color: rgb(136, 134, 134);
    border: none;
    border-radius: 50px;
    padding: 5px;
    margin-left: 10px;
    outline: none;
    cursor: pointer;
}

.series-poster-section{
    padding: 10px 0px;
}

.no-episodes-found{
    background-color: rgb(136, 134, 134);
    margin: 0px auto;
    padding: 10px;
    border-radius: 20px
}

.recomendations-posters:hover{
    transform: scale(1.09);
    opacity: 1;
    cursor: pointer;
}

@media screen and (max-width:400px){
   .other-details-section{
       display: flex;
       flex-direction: column;
   }
   .title-and-details{
       flex-direction: column;
   }
   .series-tagline{
    flex-direction: column;
   }
   .seasons-dropdown-and-episodes select{
    max-width: 50vw;
   }
   .episodes{
    max-width: 50vw;
    }
    .banner{
        background-position-y: 12%;
    }
  }

  @media screen and (min-width:2000px){
    .seasons-dropdown-and-episodes select{
        max-width: 10vw;
       }
       .episodes{
        max-width: 10vw;
        }
  }

